

body, html { 
    height: 100%;
    width: 100%;
    margin: 5px ;
    }
    
    body {
     display: flex;
    align-items: center;
    justify-content: center;
    background-color: 	#eedddd;
    
    }
    
    .flex-container {
    border-radius: 20px;
    display: flex;
    height: 400px;
    width: 500px;
    }
    
    
    
    .flex-item {
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    }
    
    img {
    box-sizing: border-box;
    height: 400px;
    width: 250px;
    object-fit: cover;
    
    border-radius: 15px 0px 0px 15px; 
    
    }
    
    .parrafo {
    font-size: 0.9em;
    color: 	#737373;
    margin-top: 20px;
    line-height: 1.5;
    
    }
    
    .texto {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 250px;
    padding: 20px;
    
    }
    
    .titulo1 { 
    box-sizing: border-box;
    font-size: 0.75em;
    line-height: 1;
    font-family: 'News Cycle', sans-serif;
    color: 	#737373;
    margin-top: 10px;
    letter-spacing: 0.5em;
    font-weight: 700;
    
    }
    
    .titulo2 {
    font-size: 2em;
    line-height: 1;
    display: inline;
    font-weight: 400;
    font-family: 'Abril Fatface', cursive;
    }
    
    .descuento {
    color: #2d8659;
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1;
    font-family: 'Abril Fatface', cursive;
    width: 120px;
    display: inline-block;
    position: relative;
    top: -15px;
    }
    
    .precio {
    
    font-size: 0.9em;
    color: 	#737373;
    display: inline-block;
     position: relative;
    top: -20px;
    
    }
    
    .boton {
    background-color: #2d8659;
    width: 210px; 
    height: 45px;
    border-radius: 10px;
    color: #ffffff;
    display: inline;
    margin-top: -10px;
    position: relative;
    top: -5px;
    }
     
    .boton p {
position: relative;
top: -1px;
    }

    .boton i {
       position: relative;
       top: -30px;
       left: -60px; 
       width: 210px; 
    height: 45px;
 
    }
    
    
    .fa-sharp {
    width: 30px;
    }
    
    .pepito:hover {
    background-color: #008000;
    }
    
    
    @media screen and (max-width: 550px) {
    body, html { 
    
    margin: 0px ;
    
    }
    
    body {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: 	#eedddd;
    box-sizing: border-box;
    
    
    
    }
     
    .flex-container {
    flex-direction: column;
    box-sizing: border-box;
    height: 500px;
    width: 300px;
    
    }
    
    
    
    
    .flex-item {
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px;
    box-sizing: border-box;
    height: 350px;
    width: 300px;
    }
    
    
    img {
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    border-radius: 15px 15px 0px 0px; 
    
    }
    
    .parrafo {
    
    margin-top: -15px;
    
    
    }
    
    .titulo1 { 
    margin-top: -5px
    
    }
    
    .titulo2 { 
    margin-top: -5px
    
    }
    .boton {
        padding:  10px;
        left: 26px;
       top: -10px;
    } 

    .boton p {
      
        top: -10px;
            }
        
            .boton i {
             
               top: -40px;
              
              
            }
            

}
